<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="/css/styleLogin.css">
        <title>Asela</title>
    </head>
<body>
    <div class="error-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="error-text">
                        <h1 class="error">404 Error</h1>
                        <div class="im-sheep">
                            <img src="/img/404.png" width="300px" alt="">
                        </div>
                        <h4>Oops! Vous n'avez pas l'autorisation pour venir ici !</h4>
                        <p>Sorry bit the page you are looking for does not exist, have been removed or name changed.</p>
                        <a href="<?=base_url()?>" class="btn btn-primary btn-round">Go to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>