


.h4, h4 {
  font-size: 1.2rem !important;
}

/* NAV
-----------------------------------------------------*/
.main-panel .navbar {
  margin-bottom: 0;
}

.navbar-brand {
  margin-left: 4rem;
}

.navbar {
  border: 0;
  font-size: 16px;
  border-radius: 0;
  min-height: 50px;
  max-height: 61px;
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  min-height: 100%;
}

.main-panel>.content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}

.custom-menu{
  z-index: 3;
}


.table tbody+tbody {
  border-top: 1px solid #dee2e6 ;
}

.table thead th {
  border: none;
}

.nav-tabs {
  JUSTIFY-CONTENT: CENTER;
  border-bottom: none;
}

li.head-menu {
  background-color: white !important;
  color: #6c757d;
  text-align-last: center;
  padding: 0.3rem 0;
}

li.li-menu {
  margin-left: 2rem;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background-image: url(/img/backround-nav.png);
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
}

#sidebar .h6 {
  color: #fff; 
}
#sidebar.active {
  margin-left: -270px; 
}
#sidebar.active .custom-menu {
  margin-right: -50px; 
}
#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700; 
}
#sidebar h1 .logo {
  color: #fff; 
}
#sidebar ul.components {
  padding: 0; 
}
#sidebar ul li {
  font-size: 16px; 
}
#sidebar ul li > ul {
  margin-left: 10px; 
}
#sidebar ul li > ul li {
  font-size: 14px; 
}

a.hover:hover {
  background: hsla(0, 0%, 100%, .13);
  opacity: 1;
  color: white;
  outline: none;
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
#sidebar ul li a:hover {
  color: #fff; 
}
#sidebar ul li.active > a {
  color: #fff; 
}
@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -270px; 
  }
  #sidebar.active {
    margin-left: 0; 
  }
  #sidebar .custom-menu {
    margin-right: -60px !important;
    top: 10px !important; 
  } 
}
#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}
@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; 
  } 
}
#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
}
#sidebar .custom-menu .btn.btn-primary {
  background: #393c7f;
  border-color: #393c7f; 
}
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
  background: #393c7f !important;
  border-color: #393c7f !important; 
}
a[data-toggle="collapse"] {
  position: relative; 
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; 
  } 
}


.btn-purple {
  background: #393c7f;
  border-color: #393c7f;
  color: white;
}

.btn-purple:hover {
  background: #393c7fad;
  border-color: #393c7f;
  color: white;
}


/* Just common table stuff. */
table  { border-collapse: collapse; width: 100%; font-size: 0.85rem; background-color: white;
}
th, td { padding: 8px 16px; 
}
th     { background:#fff; color: #393c7f; 
}

div#myTabContent, .card {
  padding: 1.2rem;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(204,197,185,.5);
  color: #252422;
  margin-bottom: 20px;
  background-color: #fff;
}

.modal-footer.threebtn {
  display: flex;
  justify-content: space-between;
}

  
  /* RESET RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
  
  :root {
    --page-header-bgColor: #242e42;
    --page-header-bgColor-hover: #1d2636;
    --page-header-txtColor: #dde9f8;
    --page-header-headingColor: #7889a4;
    --page-header-width: 220px;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --red: #ec1848;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    --switch-bgLightModeColor: #87cefa;
    --switch-sunColor: gold;
    --switch-moonColor: #f4f4f4;
    --switch-bgDarkModeColor: #1f1f27;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.border-bottom {
  border-bottom: 1px solid #945ac5!important;
}


ul {
  list-style: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

button,
input {
  border: none;
}

svg {
  display: block;
}




/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
  position: relative;
  left: var(--page-header-width);
  width: calc(100% - var(--page-header-width));
  min-height: 100vh;
  padding: 30px;
  color: var(--page-content-txtColor);
  background: var(--page-content-bgColor);
}

.search-and-user {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 50px;
  align-items: center;
  background: var(--page-content-bgColor);
  margin-bottom: 30px;
}

.search-and-user form {
  position: relative;
}

.search-and-user [type="search"] {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 15px;
  background: var(--page-content-blockColor);
  color: black;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.search-and-user ::placeholder {
  color: var(--page-content-txtColor);
}

.search-and-user form svg {
  width: 26px;
  height: 26px;
  fill: var(--page-content-txtColor);
}

.search-and-user form button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.search-and-user .admin-profile {
  display: flex;
  align-items: center;
}

.search-and-user .admin-profile .greeting {
  margin: 0 10px 0 20px;
}

.search-and-user .admin-profile svg {
  width: 30px;
  height: 30px;
}

.search-and-user .admin-profile .notifications {
  position: relative;
}

.search-and-user .admin-profile .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
  color: var(--white);
  background: var(--red);
}

.page-content .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.page-content .grid > article {
  display: flex;
  height: 300px;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.page-content .grid > article:first-child,
.page-content .grid > article:last-child {
  grid-column: 1 / -1;
}


/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {
 
  .page-header,
  .page-content {
    position: static;
    width: 100%;
  }

  .page-header {
    padding: 10px;
  }

  .page-header nav {
    flex-direction: row;
  }

  .page-header .logo {
    margin: 0;
  }

  .page-header .logo svg {
    width: 83px;
    height: 35px;
  }

  .page-header .toggle-mob-menu {
    display: block;
  }

  

  .page-header .admin-menu {
    position: absolute;
    left: 98px;
    top: 57px;
    margin-top: 0;
    z-index: 2;
    border-radius: var(--border-radius);
    background: var(--page-header-bgColor);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s;
  }

  .page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 12px;
  }

  .page-header .admin-menu li:last-child button,
  .search-and-user .admin-profile .greeting {
    display: none;
  }

  .page-content {
    min-height: 0;
    padding: 10px;
  }

  .page-content .grid {
    grid-gap: 10px;
  }

  .search-and-user {
    position: absolute;
    left: 131px;
    top: 10px;
    padding: 0;
    grid-column-gap: 5px;
    width: calc(100% - 141px);
    border-radius: var(--border-radius);
    background: transparent;
  }

  .search-and-user [type="search"] {
    font-size: 1rem;
    height: 35px;
  }

  .search-and-user form svg {
    width: 18px;
    height: 18px;
  }

  .search-and-user .admin-profile svg {
    fill: var(--white);
  }
}

/* MOBILE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 400px) {

  div#content {
    margin: 2rem;
}
  
  .page-content .grid > article {
    grid-column: 1 / -1;
  }

  .table tbody+tbody {
    border-top: 5px solid #dee2e6 ;
  }

  tr {
    border: solid 1px #69696a;
  }
  
.box.m-phone{
  margin-top: 1rem;
}

.table thead {
  display: none;
  }
  .table tr{
  display: block;
  }
  .table td {
  display: block;
  text-align: right;
  }
  .table td:before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  }

}


/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mob-menu-opened .toggle-mob-menu svg {
  transform: rotate(180deg);
}

.mob-menu-opened .page-header .admin-menu {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {

  body {
    margin: 0;
  }

  .main-panel {
    width: 100%;
  }

  div#content {
    width: -webkit-fill-available;
}

  #wrap {
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    color: #f00;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
  }

  #wrap:not(:target) {
    transform: translate3d(-335px, 0, 0);
  }

  #wrap:target {
    transform: translate3d(100, 100, 100);
  }

  #open,
  #close {
  height: 44px;
  text-align: right;
  display: block;
  margin-right: -30px;
}

  #wrap:target #open,
  #wrap:not(:target) #close {
    display: none;
  }

  #wrap:target #open {
    display: none;
  }

  .collapsed .page-header {
    width: 40px;
  }

  .collapsed .page-header .admin-menu li > * {
    padding: 10px;
  }

  .collapsed .page-header .logo,
  .collapsed .page-header .admin-menu span,
  .collapsed .page-header .admin-menu {
    display: none;
  }

  .collapsed .page-header .admin-menu svg {
    margin-right: 0;
  }

  .collapsed .page-header .collapse-btn svg {
    transform: rotate(180deg);
  }

  .collapsed .page-content {
    left: 40px;
    width: calc(100% - 40px);
  }
}




/*Page event*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #a9a9a905 !important;
  font-family: 'Baloo 2', cursive;
  font: 16px/1.5 "Lato", sans-serif;
}

.lib-panel {
  margin-bottom: 20Px;
}
.lib-panel img {
  width: 100%;
  background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF;
}


.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
  position: relative;
  height: auto;
  display: block;
  font-size: 0.9rem;
}
.lib-panel .lib-row.lib-desc a{
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}

.row-margin-bottom {
  margin-bottom: 20px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
  padding: 0;
}

footer.blockquote-footer {
  font-size: 0.9rem !important;
  text-align-last: right;
}


/* REGLAGES CLASSES –––––––––––––––––––––––––––––––––––––––––––––––––– */

.sales {
  display: inline-block;
  padding: 15px;  
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid #d4d9e3;  
}

.box{
  background: #ffffff none repeat scroll 0 0;
  border-radius: 8px;
  color: #0e1a35;
}


.user-dashboard .sales h2 {
  color: #a06ade;
  float: left;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  padding: 0.4rem;
}


.sales  .btn-group {
  float: right;
}

.list-group-item:first-child {
  display: inline;
}

.list-group-item {
  border:none
}

.text-right {
  float: right;
  color: #9b63d2;
  font-weight: bolder;
  display: flex;
}

ol{
  text-decoration: none;
}

.box.m-on{
  margin-top: 1rem;
}


.card-avatar {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.card-header {
  background-color: rgba(103, 58, 183, 0.42) !important;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

button.btn-gear-fill {
  border: none;
  padding: 0.3rem 0.3rem;
  border: solid 1px #673AB7;
  border-radius: 7px;
  background-color: white;
  margin-right: 1rem;
}

svg.bi-gear-fill {
  color: #673AB7;
}

input.btn.btn-primary.addPicturePets {
  display: block;
  width: 140px;
  height: 40px;
  background: rebeccapurple;
  color: #fff;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 3px 0 0 hotpink;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

input.btn.btn-primary.addPicturePets:hover, .btn-upload:hover, .btn-upload:focus, .btn-upload {
  background: #393c7f;
  box-shadow: 0 3px 0 0 rgba(204,197,185,.5);
}

.dropzone {
  width: 100px;
  height: 80px;
  border: 1px dashed #999;
  border-radius: 3px;
  text-align: center;
}

.upload-icon {
  margin: 25px 2px 2px 2px;
}

.upload-input {
  position: relative;
  top: -62px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.blackList {
  /* right: 0; */
  width: fit-content;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.5rem;
  border: solid #b50000a1;
}

.center {
  display: flex;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

i.fa.fa-circle.text-info2 {
  color: #17a2b869;
}

i.fa.fa-circle.text-danger2 {
  color: #dc354569;
}

span.important {
  font-weight: bold;
  font-size: 1.2rem;
}

img.nc-icon {
  width: 50px;
}

.card-stats {
  padding: 15px 15px 0;
}

.card-stats .card-body .numbers {
  text-align: right;
}