<%- include('partials/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
            </div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2" style="">Contact Info</h2>
    </div>
    
    <img src="/img/contact.png" class="img-fluid" alt="Responsive image" style="">  
    
    <div class="col-md-10" style="display: inline-flex; margin: 2rem;"> 
        
        <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
            <div class="section-title">
                <h3>Association région GARD (30) et Hérault (34)</h3>
                <p> 
                    L'association asela est composé seulement de bénévoles, n'étant pas un refuge nous n'avons aucun lieu d'accueil, nos animaux se trouve dans des familles individuelles.
                    Il est donc indispensable de nous contacter au prélable pour avoir un rendez vous pour une rencontre avec un animal. </br>
                    Aussi nous n'avons aucun numero de téléphone à fournir en ligne au yeux de tous, car ce sont nos numeros de téléphones personnels, le premier contact par email ou sur notre page facebook est donc nécessaire.
                </p>           
            </div>
            
            <p>Occitanie - Languedoc-Rousillon - Gard et Herault</p>
            <p>Adresse email :  <a href="mailto:info@company.com">asela.sauve@outlook.fr</a></p>
            <p> Page facebook : <a href="https://www.facebook.com/AssociationASELA" target="_blank"> https://www.facebook.com/AssociationASELA</a> </p>
            
            <div class="section-title">
                <h3>Delais de réponses</h3>
                <p> 
                    Le bénévolat est un acte libre, donc par nature non obligatoire et non rémunéré. <br>
                    Chacune d'entre nous travaildonc en dehors d'asela pour payer ses factures, nous avons aussi une famille et nous fesons un maximum pour répondre sur nos temps libres, mais nous ne sommes que très peu nombreuses et les delais peuvent parfois vous parraitre long dans l'attentes et l'exitation d'avoir la chance d'adopter un loulou pour qui vous avez eu un coup de coeur.
                </p> 
                <p> 
                    Nous avons enormement à gerer chaque jours, ce qui explique les delais parfois long, la maltraitance animal est un fardeau qui ne tiens pas compte de nos planning respectif et nous avons souvent des "URGENCES" qui, seront prioritaires sur tout autre activité. 
                    
                </p>
                <p>
                    Nos taches quotidiennes:
                    <ul>
                        <li>Répondre aux email et mp de la page</li>
                        <li>Faire les prises en charges: Aller chercher les animaux abandonner et les amener chez leurs familles temporaires (FA)</li>
                        <li>Conduire les animaux au veterinaire </li>
                        <li>Amener des croquettes/litieres aux FA qui sont en rupture </li>
                        <li>Traiter les questionnaires</li>
                        <li>Organiser les rencontres avec les animaux</li>
                        <li>Emmener les animaux chez les nouveaux proprietaires ou organiser une pré-visite</li>
                        <li>Creer la fiche d'un nouvel animaux et le publié sur nos reseaux (Facebook, seconde chance, site web)</li>
                        <li>Faire le suivis des stérilisation et castration obligatoire qui ont été adoptés</li>
                        <li>S'occuper des animaux de l'association qui sont chez nous, qui sommes aussi familles d'accueils</li>
                    </ul>
                </p>
                <p> 
                    Si vous n'avez pas de réponse dans les 72 heures vous pouvez nous relancer par mp ou email, mais pas de panique c'est souvent normal.
                </p>          
            </div>
        </div>
        
    </div>
    
    
    
    
</main>
</div>
</div>