<%- include('partials/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
            </div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2" style="">Nous Soutenir</h2>
    </div>
    
    
    <div class="col-md-8" id="center"> 
        
        <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
            <div class="section-title">
                <h3>Faire un don</h3>
                <p> 
                    Vous souhaitez donner en ligne à notre association pour soutenir les animaux que nous sauvons ? <br> 
                    Votre don déductible de l'impôt est un véritable acte solidaire. Votre geste compte, un grand merci !
                </p>
                <p>Faire un dons via la plateforme Hello Asso : <a href="https://www.helloasso.com/associations/association-sauve-et-les-animaux/formulaires/2" target="_blank"> Hello Asso ASELA</a></p>
                <p> Vous pouvez nous demander l'adresse du siege de l'association par email si vous souhaitez nous envoyer une enveloppe. <br> Adresse email :  <a href="mailto:info@company.com">asela.sauve@outlook.fr</a></p>  
                <p>Faire un micro dons mensuelle avec TEAMING : Teaming est une plateforme online pour récolter des fonds destinés à des causes sociales par le biais de micro-dons d'1 € par mois. 
                    <a href="https://www.teaming.net/asela?lang=fr_FR" target="_blank">Teaming ASELA</a> </p>       
                </div>
                
                <div class="section-title">
                    <h3>Nous aider gratuitement</h3>
                    <p> 
                        Vous souhaitez soutenir notre association pour soutenir les animaux que nous sauvons en ligne et vous ne souhaitez pas faire de dons ? <br> 
                        Il existe plusieurs maniere de nous aider !
                    </p>
                    <p>Et si vous aussi vous financiez gratuitement ce projet avec vos recherches internet ? <a href="https://www.lilo.org/association-asela/?utm_source=association-asela" target="_blank">Installer Lilo et donnez vos gouttes à notre cause!</a></p>
                    <p>Aider gratuitement ASELA grace a vos achats : En passant par Prizle, sans aucun frais supplémentaire, après de leurs marchands partenaires (CDiscound, Camaïeu, Marionnaud, et pleins d'autres marchands... <a href="https://www.prizle.com/fr/cause/asela?ref=Q6K13&fbclid=IwAR1pBaCoNsD4il5Gw6_4WuiDAj0u0EobdugNl4pLCD07Yoqri5gYWQhYvXM#describe" target="_blank"> Installez Prizle pour déclenchez des dons automatiquement grace a vos achats</a> </p>  
                    <p>En nous suivant sur facebook et partager nos publications pour permetre de trouver une famille nos protégés : <a href="https://www.facebook.com/AssociationASELA" target="_blank">Notre page Facebook</a></p>    
                </div>
                <div class="section-title">
                    <h3>ASELA est sur Vinted !</h3>
                    <p> 
                        Vous pouvez regarder notre boutique Vinted, peut etre un de nos produits vous plait, cela aide a financer les croquettes et frais veterinaires de nos protégés!
                    </p>
                    <p>Rendez vous sur <a href="https://www.vinted.fr/member/40753160-association-asela" target="_blank"> notre VINTED</a></p>
                </div>
                
                <p>Nous acceptons aussi les dons de vetements et accesoire de mode pour les mettres en vente sur notre Vinted avec plaisir et même les objets de differents type pour nos vides greniers qui finance une grosse partie de la survie de cette association !</p>
            </div>
            
        </div>
        
        
        
        
    </main>
</div>
</div>