<%- include('partials/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
            </div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0">
            </div>
        </div>
    </div>
    
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Les démarches adoption</h2>
    </div>
    <div class="row">
        
        <div class="col-md-6" style="margin-bottom: 5rem;">
            
            <h3 class="heading-p important">
                La réflexion
            </h3>
            <p> 
                La premiere chose à faire avant d'adopter un animal c'est evidemment de réfléchir quel type / taille et caractére nous correspond et se renseigner sur les besoins de ceux ci suivant leurs races.
            </p> <br>
            <p>
                Votre animal de compagnie aura plus de chance d'avoir certains soucis de santée en fonction de leurs taille et race, renseignez vous sur ces point avant toute adoption. Soucis de santée = soins, l'euthanasie de complaisance est interdite, vous avez le devoir de soigné votre compagnon quel que soit votre situation financiere.
            </p> <br>
            <p><span class="muted-text"> <a target="_bank" href="https://www.service-public.fr/particuliers/vosdroits/F31859#:~:text=Atteintes%20%C3%A0%20l'int%C3%A9grit%C3%A9%20et,prudence%20impos%C3%A9e%20par%20la%20loi."> La loi sur la maltraitance animal </a><br>
                Blesser ou tuer un animal involontairement est puni par la loi. Cela vaut que la blessure ou la mort soit causée par maladresse, imprudence, inattention, négligence ou non respect d'une obligation de sécurité ou de prudence imposée par la loi.</span>
            </p> 
            
            <h3 class="heading-p important">Le questionnaire Adoption</h3>
            <p>Si l'un  de nos loulous vous correspond il faudra alors remplir <a href="/v1/formulaire_adoption"> le questionnaire adoption </a></p>
            <p>Celui-ci nous permettra d'en savoir un peu plus sur vous : environnement, composition de la famille etc...</p> <br>
            <p>Nos animaux étant tous en famille d'accueil nous les connaissons suffisamment pour savoir grace à ce questionnaire si vous semblez vous correspondre mutuellement, notre objectif n'étant pas de placer à tout prix nos animaux mais d'oeuvrer pour leur trouver la famille idéale à leurs épanouissements en prenant en compte leurs besoin et caractère.</p> <br>
            <p>Le bonheur de nos animaux est notre priorité absolue et éviter un nouvel abandon est primordiale.</p>
            
            <h3 class="heading-p important">
                La rencontre
            </h3>
            <p>Si votre questionnaire est sélectionné pour adopter le loulou de votre choix ou que nous vous en avons proposé un qui vous correspond mieux et que vous avez validé ce choix, il est temps de rencontrer l'animal.</p> <br>
            <p>Il faudra obligatoirement se déplacer chez sa famille d'accueil pour le rencontrer, et cela même si vous habitez très loin. </p>
            
            <h3 class="heading-p important">
                La pré-visite
            </h3> <br>
            <p> La pré visite peut se faire de 2 manière: </p>
            <p>- Lorsque nous amenons l'animal chez vous pour l'adoption si vous habitez loin.</p>
            <p>ou</p> 
            <p>- Avant que vous ne veniez rencontrer l'animal si vous habitez loin, comme ça si vous souhaitez l'adopter, vous pourrez repartir avec le loulou chez vous et eviter d'autres déplacement.</p> 
            <br>
            <p>Concrètement, un bénévole de l’association viendra à votre domicile pour pouvoir faire un peu plus ample connaissance avec vous et avec votre environnement. Cette formalité nous permet de s’assurer de l’endroit où va être placé notre animal et il nous permet également de vous parler en face à face.  Néanmoins, il est important de ne pas voir cela comme une « inspection » ou comme un moment stressant. Nous n’allons en aucun fouiller dans vos affaires ou se montrer intrusif dans votre intimité. </p> 
            <p>Nous n’avons presque jamais eu le cas où une pré-visite s’est mal passée, il s’agit souvent d’un moment sympathique d’échange et de partage avant une adoption pour la vie. </p>
            <h3 class="heading-p important">
                L'adoption
            </h3>
            <p>Le moment tant attendu est enfin arrivé, vous pouvez adopter l'animal, un contrat sera signé et une contrepartie financiere vous sera demandé, pour couvrir les frais que nous ont coûter l'identification, la stérilisation / castration et les eventuels vaccins !  </p>
        </div>
        
        <div class="col-md-6 img">
            <div class="col-lg-10 mb-2 pr-lg-1">
                <a href="/img/adopt.png"><img style="margin: 1rem 0;" src="/img/adopt.png"  alt="" class="img-fluid rounded shadow-sm"></a>
            </div>
        </div>
    </div>
    
</main>
</div>
</div>