<%- include('partials/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
            </div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0">
            </div>
        </div>
    </div>
    
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Les démarches adoption</h2>
    </div>
    <div class="row">
        
        <div class="col-md-6">
            
            <h3 class="heading-p important">
                La réflexion
            </h3>
            <p> 
                La premiere chose à faire avant d'adopter un animal c'est evidemment de réfléchir quel type / taille et caractére nous correspond.
            </p> <br>
            <p> 
                Je n'aime pas me balader ? Un chat serait un choix plus judicieux qu'un chien car un chien doit imperativement être sortie tout les jours <span class="important">même si j'ai un jardin.</span> (sauf cas exeptionnel.)
            </p> <br>
            <p> 
                Je veux partager des aventures avec mon animal ? Un chien serait idéal pour vous accompagner partout et en serait très heureux ! 
            </p> <br>
            <p> 
                Le choix du type de chien est aussi compliqué, d'abord tout les chiens ont des caractères differents, une race ne determine pas forcement le caractere de celui ci, seulement les besoins et la difficulté pour reussir l'education. <br>
                L'education que vous donnerez sera determinante dans le caractere de votre loulou, <span class="muted-text"> (n'hesitez pas a vous faire aide   en cas de difficultée)</span>.</p> <br>
                <p>
                    Votre animal de compagnie aura plus de chance d'avoir certains soucis de santée en fonction de leurs taille et race, renseignez vous sur c  point avant toute adoption. Soucis de santée = soins, l'euthanasie de complaisance est interdite, vous avez le devoir de soigné votr  compagnon quel que soit votre situation financiere.
                </p> <br>
                <p><span class="muted-text"> <a target="_bank" href="https://www.service-public.fr/particuliers/vosdroits/F31859#:~:text=Atteintes%20%C3%A0%20l'int%C3%A9grit%C3%A9%20et,prudence%20impos%C3%A9e%20par%20la%20loi."> La loi sur la maltraitance animal </a><br>
                    Blesser ou tuer un animal involontairement est puni par la loi. Cela vaut que la blessure ou la mort soit causée par maladresse, imprudence, inattention, négligence ou non respect d'une obligation de sécurité ou de prudence imposée par la loi.</span></p> 
                    
                    <h3 class="heading-p important">Le questionnaire Adoption</h3>
                    <p>Si l'un  de nos loulous vous correspond il faudra alors remplir <a href=""> le questionnaire adoption </a></p>
                    <p>Celui-ci nous permettra d'en savoir un peu plus sur vous : environnement, composition de la famille etc...</p> <br>
                    <p>Nos animaux étant tous en famille d'accueil nous les connaissons suffisamment pour savoir grace à ce questionnaire si vous semblez vous correspondre mutuellement, notre objectif n'étant pas de placer à tout prix nos animaux mais d'oeuvrer pour leur trouver la famille idéale à leurs épanouissements en prenant en compte leurs besoin et caractère.</p> <br>
                    <p>Le bonheur de nos animaux est notre priorité absolue et éviter un nouvel abandon est primordiale.</p>
                    
                    <h3 class="heading-p important">
                        La rencontre
                    </h3>
                    <p>Si votre questionnaire est sélectionné pour adopter le loulou de votre choix ou que nous vous en avons proposé un qui vous correspond mieux et que vous avez validé ce choix, il ets temps de rencontrer l'animal.</p> <br>
                    <p>Si vous  </p>

                    <h3 class="heading-p important">
                        La pré-visite
                    </h3>

                    <h3 class="heading-p important">
                        L'adoption
                    </h3>
                </div>
                
                <div class="col-md-6 img">
                    <div class="col-lg-10 mb-2 pr-lg-1">
                        <img style="margin: 1rem 0;" src="/img/adopt.png"  alt="" class="img-fluid rounded shadow-sm"></div>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</div>