/*-----------------------Page chiens----------------------------------------*/

body {
    background-color: #F4EBE4
}

.Title-image {
    display: flex;
    background-color: #efe3b1;
}

h1.title {
    color: darkred;
    font-size: 3rem;
    margin-left: 3rem;
    margin-top: 70px;
    
}

.container {
    max-width: 85%;
}

nav.navbar.navbar-light.subNavBar {
    margin-top: 3rem;
    width: 430px;
    margin-left: 36rem;
}

a.module {
    text-decoration: none;
    color: white;
}

.bloc-article {
    display: flex;
    flex-wrap: wrap;
}

article.article {
    border-radius: 36px;
    border: solid;
    margin-right: 3rem;
    margin-top: 3rem;
    padding: 1.5rem;
    margin-left: 3rem;
    background-color: white;
    width: 430px;
    height: 280px;
}

header.header {
    margin-bottom: 20px;
}

main.main {
    margin-bottom: 30px;
}

ul.content {
    list-style: none;
    margin-left: -1.5rem;
}

h2.subTitle {
    margin-top: -0.1rem;
}

.button-dog {
    margin-bottom: -1.2rem;
}
    
