<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

    <title>Asela</title>
</head>
<body>
    <header class="header">
        <div>
            <div class="header-dark">
                <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                    <div class="container">
                        <div class="collapse navbar-collapse"
                            id="navcol-1">
                               <img src="/img/bandeASELA.png" alt="">                     
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #82563b;">
                     <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Reglages
                     </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="#">Conditions</a>
                         <a class="dropdown-item" href="#">Tarifs</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Benevoles</a>
                       </div>
                    <span class="nav-separation">|</span>  
                    <a class="module" href="">Notifications</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="/v1/dogs">Chiens</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="/v1/cats">Chats</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="">Planning</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="">Formulaires</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="/v1/hostFamily">Familles d'accueil</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="/v1/adoptants">Adoptant</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="/v1/veterinary">Vétérinaires</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="/v1/events">Evènements</a>
                    <span class="nav-separation">|</span>
                    <a class="module" href="">Liste rouge</a>            
                    <span class="nav-separation">|</span>          
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" name="s" id="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>

        </nav>
    </header>

    <!--<script src="app.js"></script>-->
